@page
@model WebAppLSV.Pages.Certifications.IndexModel
@{
    ViewBag.Title = "WebAPP Liseo Santa Verónica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Documentos Generados</h2>

    <div class="form-group">
        <a asp-page="Create" class="btn btn-primary"><span class="glyphicon glyphicon-menu-hamburger"></span> Generar Documento</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo de Documento</th>
                <th>Solicitante</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Entrega</th>
                <th>Valor</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Documentosecretaria)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreSolicitante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSolicitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEntrega)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>

                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>