@page
@model WebAppLSV.Pages.Certifications.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].ValorAño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].NombreSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].TelefonosSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].IdCursoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentosecretaria[0].IdEstudianteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Documentosecretaria) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSolicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonosSolicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCursoNavigation.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.Apellido)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
